.request-details {
  padding: 12px 20px;
  background-color: #f0f6fa;
  border-bottom: 2px solid var(--medpult-bg-color);
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Inter;
    padding-right: 100px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 49px;

    &__title {
      font-weight: 500;
      font-size: 11px;
      line-height: 130%;
      letter-spacing: 0.25%;
      color: #959699;
      text-transform: uppercase;
    }
    &__value {
      font-weight: 400;
      font-size: 14px;
      color: #2d2e2f;
      line-height: 20px;
    }
  }
}
